{% extends "base.html" %}

{% block content %}
    {% if user.is_superuser %}
        <div class="container-fluid">
            <div class="header brand text-center mt-3">
                <h1>Delete Post</h1>
                <h3 class="text-black">Delete: {{ post.title }}</h3>
            </div>
        </div>
        <div class="container-fluid text-center">
            <form action="" method="POST">
                {% csrf_token %}
                <strong>Are you sure?</strong>
                <br>
                <button type="submit" class="btn btn-signup btn-lg mb-3 mt-3">Delete</button>
            </form>
        </div>
    {% else %}
    <div class="container-fluid">
        <div class="header brand text-center mt-3">
            <h1>Oops this page it not available</h1>
            <a href="{% url 'home' %}">
                <button class="btn btn-signup btn-lg mb-3 mt-3">Home</button>
            </a>
        </div>
    </div>
    {% endif %}
{%endblock%}