{% extends "base.html" %}

{% block content %}
                <div class="container-fluid banner">
                    <div class="row">
                        <img src="https://res.cloudinary.com/dfm0zouce/image/upload/v1646154670/IMG-20220122-WA0002_sesfbo.jpg" alt="banner image">
                    </div>
                </div>
                <div class="container-fluid about">
                    <div class="row">
                        <div class="about-me">
                            <h2 class="brand text-center">About Me</h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="about-image text-center">
                            <img src="https://res.cloudinary.com/dfm0zouce/image/upload/c_scale,q_99,w_300/v1646773308/IMG-20220308-WA0000_cropped_tnyeqr.jpg" alt="trainer image" class="trainer img-fluid">
                        </div>
                    <div class="row">
                        <div class="about-me text-center">
                            <p class="text-right">
                                My name is Alexander Green, I have been a qualified PT/Coach for over 5 years, I have worked out of commercial and private gyms all over the Denton area. Over the years
                                this has helped me acquire a lot of knowledge from differnt people within the gyms.  My goal is to get every client I have to where they want to be whether it be dropping/gaining weight, 
                                toning up certain areas of the body or Improving mobility/strength.
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="plug container-fluid">
                            <p class="text-center">
                                Want to know more <a class="link" href="/accounts/signup/">Sign up</a> to my site you and will be granted access to <a class="link" href="{% url 'blog' %}">fitness tips</a> that can help you achieve your goal.
                            </p>
                            <h4 class="text-center">
                                I will not sell you dreams, and tell you its going to be easy. But, I will dedicate our time together to make sure you understand what's needed from both myself and you the client to get to your goal.
                            </h4>
                        </div>
                    </div>
                </div>
{%endblock%}