{% extends 'base.html' %} {% block content %}

{% load crispy_forms_tags %}

{% if user.is_authenticated %}
    <!-- Post details body -->
    <div class="masthead">
        <div class="container-fluid">
            <div class="row g-0">
                <div class="col-md-6 masthead-text text-center container-fluid">
                    <!-- Post title -->
                    <h1 class="post-title">{{ post.title }}</h1>
                    <!-- Post author and created on date  -->
                    <p class="post-subtitle">{{ post.author }} | {{ post.created_on }}</p>
                </div>
                <div class="d-none d-md-block col-md-6 masthead-image ">
                    <!-- The featured image URL -->
                    {% if "placeholder" in post.featured_image.url %}
                    <img src="https://res.cloudinary.com/dfm0zouce/image/upload/v1646061268/xxq0bqyhgfjfw6a83m78.jpg">
                    {% else %}
                    <img src=" {{ post.featured_image.url }}" alt="logo">
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col card mb-4  mt-3 left  top">
                <div class="card-body text-center">
                    <!-- The post content using safe filter -->
                        {{ post.content | safe }}
                    <div class="row justify-content-between">
                        <div class="col-4">
                            {% with comments.count as total_comments %}
                            <strong class="text-secondary"><i class="far fa-comments"></i>
                                <!-- Our total_comments variable goes before the closing strong tag -->
                                {{ total_comments }}</strong>
                            {% endwith %}
                        </div>
                        <div class="col-4">
                            {% if user.is_authenticated %}
                            <form class="d-inline" action="{% url 'post_like' post.slug %}" method="POST">
                                {% csrf_token %}
                                {% if liked %}
                                    <button type="submit" name="blogpost_id" aria-label="Like post" value="{{ post.slug }}" class="btn-like"><i
                                            class="fas fa-heart text-decoration-none"></i></button>
                                {% else %}
                                    <button type="submit" name="blogpost_id" aria-label="Like post" value="{{ post.slug }}" class="btn-like"><i
                                            class="far fa-heart"></i></button>
                                {% endif %}
                            </form>
                            {% else %}
                                <span class="text-secondary"><i class="far fa-heart custom-tooltip" data-toggle="tooltip"></i></span>
                                {% endif %}
                                <span class="text-secondary">{{ post.number_of_likes }}</span>
                        </div>
                        {% if user.is_superuser %}
                            <div class="col-4 float-right">
                                <small class="ml-3">
                                    <a href="{% url 'delete_post' post.slug %}" class="text-danger">Delete</a>
                                </small>
                            </div>
                        {% endif %}
                        <div class="container-fluid">
                            <div class="row">
                                <div class="back-button text-center">
                                    <input type=button value="Back" class="btn btn-signup btn-lg text-center mt-3" onClick="javascript:history.go(-1);">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 card mb-4  mt-3 ">
                <h3>Comments:</h3>
                <div class="card-body">
                    <!-- for loop inside the empty control tags to iterate through each comment in comments -->
                    {% for comment in comments %}
                    <div class="comments" style="padding: 10px;">
                        <p class="font-weight-bold">
                            <!-- The commenter's name goes here. -->
                            {{ comment.name }}
                            <span class=" text-muted font-weight-normal">
                                <!-- The comment's created date goes here -->
                                {{ comment.created_on }}
                            </span> wrote:
                        </p>
                        <!-- The body of the comment goes before the | -->
                        {{ comment.body | linebreaks }}
                    </div>
                    <!-- for loop ends here -->
                    {% endfor %}
                </div>
            </div>
            <div class="col-md-4 card mb-4  mt-3 ">
                <div class="card-body">
                    {% if commented %}
                    <div class="alert alert-success" role="alert">
                        Your comment is awaiting approval
                    </div>
                    {% else %}

                    <h3>Leave a comment:</h3>
                    <p>Posting as: {{ user.username }}</p>
                    <form method="POST" style="margin-top: 1.3em;">
                        {{ comment_form | crispy }}
                        {% csrf_token %}
                        <button type="submit" class="btn btn-signup btn-lg mt-3">Submit</button>
                    </form>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    {% else %}
    <div class="container-fluid">
        <div class="row">
            <div class="img-fluid text-center">
                <img src="https://res.cloudinary.com/dfm0zouce/image/upload/c_scale,w_322/v1646072910/osoosbxcfksrf8dr2gr3.jpg" alt="logo">
            </div>
        </div>
        <div class="row text-center">
            <div class="sign-in-text">
                <h2>Please <a class="link" href="/accounts/signup/">Register</a> or <a class="link" href="/accounts/login/">Sign in</a> to view Fitness Tips</h2>
            </div>
        </div>
    </div>
{% endif %}
{% endblock content %}