{% extends "base.html" %}

{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="title text-center brand">
            <h1>Success Stories</h1>
        </div>
    </div>
    <div class="row">
        <div class="reviews col-md-6">
            <img src="https://res.cloudinary.com/dfm0zouce/image/upload/v1647202581/success1_exc2af.jpg" alt="review1" width="100%">
        </div>
        <div class="success col-md-6">
            <img src="https://res.cloudinary.com/dfm0zouce/image/upload/v1647209510/IMG-20220122-WA0018_mcmzut.jpg" alt="success1" width="100%">
        </div>
        <div class="reviews col-md-6">
            <img src="https://res.cloudinary.com/dfm0zouce/image/upload/v1647267304/success3_avliua.jpg" alt="review2" width="100%">
        </div>
    </div>
    <div class="row">
        <div class="success col">
            <img src="" alt="success2" width="100%">
        </div>
        <div class="reviews col">
            <img src="https://res.cloudinary.com/dfm0zouce/image/upload/v1647267304/success2_uu3bgv.jpg" alt="review3" width="100%">
        </div>
        <div class="success col">
            <img src="" alt="success3" width="100%">
        </div>
    </div>
</div>

{%endblock%}